﻿.pagination {
    margin-top: 0px;
}

th > span:nth-child(2) {
    float: right;
}

th > span.glyphicon-sort-by-attributes.hidesort {
    display: none;
}

table.BeeGrid th {
    cursor: pointer;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #337ab7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: #337ab7;
    -webkit-box-shadow: inset 0 0 6px #337ab7;
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #337ab7;
    }
    table.BeeGrid>thead
    {
        background-color:white;
        color:black
    } 